.main {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.main:nth-child(1) {
    margin-top: 4rem;
}

.main:last-child {
    margin-bottom: 2rem;
}

.profile {
    margin: auto;
    width: clamp(16rem, 90vw, 1100px + 2rem);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "header header header header"
    "picture picture text text"
    "footer footer footer footer";
    justify-content: center;
    align-content: center;
    gap: 1rem;
    background-color: var(--ternary);
    border-radius: 1rem;
    overflow: hidden;
    padding: 1rem 2rem 1rem 2rem;
    transition: all .2s ease-in-out;
}

.profile:hover {
    transform: translate3d(0, -5px, 0);
    box-shadow: 0 5px 0 0 var(--secondary);
}

.profileHeader {
    grid-area: header;
}


.profilePic {
    transition: all .2s ease-in-out;
    grid-area: picture;
    place-self: center;
}

.profileDesc {
    grid-area: text;
    place-self: center;
    background-color: var(--ternary);
    height: 100%;
}

.profileDesc p {
    margin: 0;
}

.profileDesc h3 {
    font-weight: normal;
    margin: 0;
}

.profileFooter {
    grid-area: footer;
}

.italics {
    font-style: italic;
}

.profileDescLink {
    color: var(--accent);
}

.profileDescLink:hover {
    text-decoration: underline;
}

.experience {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: clamp(16rem, 90vw, 1100px + 2rem);
    row-gap: 1rem;
}

.experience h1 {
    color: var(--accent);
}

.experienceTitle {
    display: flex;
    align-items: center;
}

.experienceTitle h1 {
    flex-grow: 2;
}

.resume {
    color: black;
}

.resume {
    filter: invert(16%) sepia(14%) saturate(4193%) hue-rotate(185deg) brightness(90%) contrast(88%);
    transition: all .2s ease-in-out;
}

.resume:hover {
    transform: scale(1.1);
    text-decoration: underline;
}

.job {
    background-color: var(--ternary);
    border-radius: 1rem;
    overflow: hidden;
    padding: 1rem 2rem 1rem 2rem;
    transition: all .2s ease-in-out;
    display: flex;
    flex-direction: column;
}

.job:hover {
    transform: translate3d(0, -5px, 0);
    box-shadow: 0 5px 0 0 var(--secondary);
}

.jobTitle {
    text-align: center;
}

.jobDate {

}

.jobDesc {

}

.seeMore {
    text-align: center;
}

.seeLess {
    transform: scaleY(-1);
    text-align: center;
}

@media (max-width: 1005px) {
    .profile {
        grid-template-areas:
        "header header header header"
        "picture picture picture picture"
        "text text text text"
        "footer footer footer footer";
        row-gap: .5rem;
    }

    .profileHeader {
        text-align: center;
    }

    .profilePic {
        transform: scale(.85);
    }
}